.QuestionList {
  .Question {
    padding-bottom: 1rem;
  }
}
.QuestionInsight {
  .QuestionInsightText {
    text-align: center;
  }
}

.AskQuestion {
  padding: 0.7rem 1rem !important;
}


.RestrictText{
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}